@model (PRELIM_LAB2_2_Cherry_Quiño.Models.Book book, PRELIM_LAB2_2_Cherry_Quiño.Models.Customers customer)

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h2>🕮 Book Info   </h2>
    <p><strong>Title:</strong>@Model.book.Title</p> 
    <p><strong>Author:</strong>@Model.book.Author</p>

    <h2>👤 Customer Info</h2>
    <p><strong>Full Name:</strong>@Model.customer.FullName</p>
    <p><strong>Email:</strong>@Model.customer.Email</p>

    
</div>